@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%); 
}

.menu, .redes{
    margin-top: 3%;
    padding-left: 5%;
    display: inline-block;
}

.logo{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 1098px;
    top: 3%;
}

.contenedor-textos{
    display: block;
    position: relative;
    width: 737px;
    height: 173px;
    left: 465px;
    top: 130px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid white;
}

.titulo{
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 0.1px black;
    display: block;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: justified;
    color: #00C2FF;
}

.subtitulo{
    display: block;
}

.subtitulo, .iconify{
    position: relative;
    top: 5%;
    margin-left: 15px;
    display: inline-block;
}

.iconify{
    animation: mano ease-in 1s infinite alternate;
}

@keyframes mano{
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.15);
    }
}


.tecnologias{
    display: block;
    position: relative;
    width: 737px;
    height: 173px;
    float: right;
    top: 140px;
}

.mi-foto{
    position: fixed;
    width: 685px;
    height: 762px;
    left: 0px;
    top: 157px;
}

.slider{
    position: fixed;
    right: 0px;
    top: 525px;
    display: flex;
    max-width: 500px;
    height: 180px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.slider img{
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}