@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background: #0072FF; 
    -webkit-text-stroke: 1px black;
}

/*-----------   Styles for header   -------------------*/
a {
    color: #ffffff;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    width: 90%;
    margin: 3%;
  }
  
  /* Navigation */
  .nav-main {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    -webkit-text-stroke: 1px black;
  }
  
  .nav-brand {
    width: 80px;
  }
  
  /* Navbar Left */
  .nav-main ul {
    display: flex;
  }
  
  .nav-main ul li {
    padding: 30px;
  }
  
  .nav-main ul li a {
    padding: 25px;
  }
  
  .nav-main ul li a:hover {
    border-bottom: 2px solid #fff;
  }
  
  .nav-main ul.nav-menu {
    flex: 1;
    margin-left: 5px;
  }
  
/*----------------   Styles for body    ---------------------------------*/
.contenedor-textos {
    display: block;
    position: relative;
    color: white;
    width: 737px;
    height: 173px;
    left: 465px;
    top: 130px;
    border-radius: 20px;
    border: 2px solid white;
}

.titulo{
    margin-left: 10px;
    display: block;
    font-size: 43px;
    font-style:oblique;
    font-weight: bold;
    line-height: 80px;
    text-align: left;
    color: #00C2FF;
}

.subtitulo{
    display: block;
    font-weight: bold;
}

h3{
    display: block;
    font-weight: bold;
}

.subtitulo, .iconify{
    position: relative;
    top: 5%;
    left: 15px;
    display: inline-block;
}

.iconify{
    animation: mano ease-in 1s infinite alternate;
}

@keyframes mano{
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.15);
    }
}

.tecnologias {
    display: block;
    position: relative;
    width: 250px;
    height: 45px;
    left: 970px;
    top: 140px;
}

.mi-foto{
    position: fixed;
    width: 685px;
    height: 762px;
    left: 0px;
    top: 170px;
}


/*----------------------    Styles for footer   -----------------------------*/
.slider{
    position: fixed;
    right: 0px;
    top: 525px;
    display: flex;
    max-width: 500px;
    height: 180px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.slider img{
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}

.h3 {
    display: block;
    margin-bottom: 0px;
    position: relative;
    top: 180px;
    left: 740px;
    color: white;
    size: 20px;
}